$primary: #59e185;
$border: #230d9f;

@mixin photo($border-color)
{
    display: block;
    margin: 5px;
    border: 2px solid $border-color;
    border-radius: 8px;
}

.card 
{
    padding: 16px;
    border-radius: 4px;

    &--accent 
    {
        border: 2px solid $primary;
    }

    &__title 
    {
        font-size: 20px;
        font-weight: bold;
    }

    &__description 
    {
        font-size: 16px;
    }
}

.product-photo 
{
    @include photo($border);
}